<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo usuário</title>
</head>
<body>
  <header>
    <%- include("../header.ejs") %>
  </header>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>
  <form action="/users/new" method="POST">
    <label for="nameInput">Nome: </label>
    <input type="text" name="firstName" id="nameInput" required/><br />
    <label for="lastNameInput">Sobrenome: </label>
    <input type="text" name="lastName" id="lastNameInput" required/><br />
    <label for="emailInput">Email: </label>
    <input type="text" name="email" id="emailInput" required/><br />
    <label for="passwordInput">Senha: </label>
    <input type="password" name="pass" id="passwordInput" required/><br />
    <button type="submit">Cadastrar</button>
  </form>
  <button onclick="window.location.href = '/'">Voltar</button>
</body>
</html>