<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <header>
      <%- include("../header.ejs") %>
    </header>
    <% if (message) {%>
    <div class="message">
      <%= message %>
    </div>
    <% } %>
    <form action="/login" method="POST">
      <label for="emailInput">Email: </label>
      <input type="text" name="email" id="emailInput" /><br />
      <label for="passwordInput">Senha: </label>
      <input type="password" name="password" id="passwordInput" /><br />
      <% if (redirect) { %>
      <input
        type="hidden"
        name="redirect"
        value="<%= decodeURIComponent(redirect) %>"
      />
      <% } %>
      <button type="submit">Entrar</button>
    </form>
  </body>
</html>
