<nav>
  <div><a href="/">Home</a></div>

  <div><a href="/users/new">Novo usuário</a></div>
  <div><a href="/me/edit">Editar perfil</a></div>
  <div><a href="/login">Login!</a></div>
  <div><a href="/logout">Logout</a></li>
</nav>